.vscode/launch.json
.vscode/*
oldstuff/*
__pycache__/*
testingstuff/*
.vscodecounter/*
.idea/*
.mypy_cache/*
stopmoviething.ps1
pycallgraph.png
moviething/__pycache__/*
moviething/moviething/__pycache__/*
moviething/modules/__pycache__/*
moviething/modules/__pycache__/__init__.cpython-36.pyc
*.py[cod]
*$py.class
*.pyc
moviething/modules/__pycache__/__init__.cpython-36.pyc
moviething/modules/__pycache__/__init__.cpython-37.pyc
moviething/modules/__pycache__/classes.cpython-36.pyc
moviething/modules/__pycache__/classes.cpython-37.pyc
moviething/modules/__pycache__/defs.cpython-36.pyc
moviething/modules/__pycache__/importmovie.cpython-36.pyc
moviething/modules/__pycache__/importmovie.cpython-37.pyc
moviething/modules/__pycache__/nfoparser.cpython-36.pyc
moviething/modules/__pycache__/nfoparser.cpython-37.pyc
moviething/modules/__pycache__/scrapers.cpython-36.pyc
moviething/modules/__pycache__/scrapers.cpython-37.pyc
moviething/modules/__pycache__/utils.cpython-36.pyc
moviething/modules/__pycache__/utils.cpython-37.pyc
moviething/__pycache__/__init__.cpython-36.pyc
moviething/__pycache__/__init__.cpython-37.pyc
moviething/__pycache__/__init__.cpython-37.pyc
moviething/modules/__pycache__/__init__.cpython-37.pyc
moviething/modules/__pycache__/importmovie.cpython-37.pyc
moviething/modules/__pycache__/nfoparser.cpython-37.pyc
moviething/modules/__pycache__/scrapers.cpython-37.pyc
moviething/modules/__pycache__/utils.cpython-37.pyc
moviething/__pycache__/__init__.cpython-37.pyc
moviething/modules/__pycache__/__init__.cpython-37.pyc
moviething/modules/__pycache__/classes.cpython-37.pyc
moviething/modules/__pycache__/importmovie.cpython-37.pyc
moviething/modules/__pycache__/nfoparser.cpython-37.pyc
moviething/modules/__pycache__/scrapers.cpython-37.pyc
moviething/modules/__pycache__/utils.cpython-37.pyc
